# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
#.idea
#*.iml
out
gen
admin/target/generated-sources/
common/target/generated-sources/
mapper/target/generated-sources/
pojo/target/generated-sources/
service/target/generated-sources/
