# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
admin/src/.DS_Store

admin/src/main/webapp/WEB-INF/jsp/.DS_Store
admin/src/main/webapp/WEB-INF/jsp/user/.DS_Store
admin/src/main/webapp/WEB-INF/pages/.DS_Store
admin/target/admin/WEB-INF/bower_components/
admin/target/admin/WEB-INF/build/
admin/target/admin/WEB-INF/dist/
admin/target/admin/WEB-INF/documentation/
admin/target/admin/WEB-INF/jsp/user/stuAttachment.jsp
admin/target/admin/WEB-INF/jsp/user/stuDepartment.jsp
admin/target/admin/WEB-INF/jsp/user/stuEconomic.jsp
admin/target/admin/WEB-INF/jsp/user/stuFamily.jsp
admin/target/admin/WEB-INF/jsp/user/stuStatement.jsp
admin/target/admin/WEB-INF/lib/Hui-iconfont/
admin/target/admin/WEB-INF/lib/My97DatePicker/
admin/target/admin/WEB-INF/lib/Validform/
admin/target/admin/WEB-INF/lib/datatables/
admin/target/admin/WEB-INF/lib/echarts/
admin/target/admin/WEB-INF/lib/hcharts/
admin/target/admin/WEB-INF/lib/jquery.SuperSlide/
admin/target/admin/WEB-INF/lib/jquery.contextmenu/
admin/target/admin/WEB-INF/lib/jquery.validation/
admin/target/admin/WEB-INF/lib/jquery/
admin/target/admin/WEB-INF/lib/layer/
admin/target/admin/WEB-INF/lib/laypage/
admin/target/admin/WEB-INF/lib/lightbox2/
admin/target/admin/WEB-INF/lib/nprogress/
admin/target/admin/WEB-INF/lib/ueditor/
admin/target/admin/WEB-INF/lib/webuploader/
admin/target/admin/WEB-INF/lib/zTree/
admin/target/admin/WEB-INF/plugins/
admin/target/admin/lib/Hui-iconfont/1.0.1/
admin/target/admin/lib/My97DatePicker/lang/
admin/target/admin/lib/My97DatePicker/skin/
admin/target/admin/lib/layer/1.9.3/
admin/target/admin/lib/zTree/v3/demo/
admin/target/generated-sources/

service/target/generated-sources/
